/SoundConfigurator.pro.user
/SoundConfigurator.pro.user.1d3bb9e
/SoundConfigurator.pro.user.8c3356a
/SoundConfigurator.pro.user.081ccdd
/SoundConfigurator.pro.user.243360b
/*.user
/src/ACCESSDATE/accessdataproject.cpp.autosave
/src/ACCESSDATE/*.autosave
